@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Body and general styles */
body {
  background-color: #fff9e6; /* Light mode background color */
  font-family: "Manrope", sans-serif; /* Default font */
  color: #002147; /* Light mode text color */
}

/* Dark mode styles */
.dark body {
  background-color: #002147; /* Dark mode background color */
  color: #fff9e6; /* Dark mode text color */
}

/* Accent styles */
.accent {
  color: #ffd700; /* Accent color */
}
/* Light Mode */
.header,
.footer {
  background-color: #002147; /* Deep navy */
  color: #fff9e6; /* Soft cream */
}

/* Dark Mode */
.dark .header,
.dark .footer {
  background-color: #fff9e6; /* Soft cream */
  color: #002147; /* Deep navy */
}

/* Header styles */
.header {
  @apply z-10 lg:px-[250px] md:px-[100px] px-[30px] sticky top-0 bg-Header text-THeader flex items-center justify-between border-b border-gray-400;
}

.dark .header {
  @apply bg-DHeader text-DTHeader; /* Dark mode header background and text color */
}

.mheader {
  @apply p-2 flex justify-center gap-4 md:hidden lg:hidden px-[30px] fixed bottom-0 left-0 right-0 bg-Header text-THeader border-gray-400 z-10;
}

.dark .mheader {
  @apply bg-DHeader text-DTHeader; /* Dark mode header background and text color */
}

/* Footer styles */
.footer {
  @apply bg-Header text-THeader mt-10 lg:px-[250px] md:px-[100px] px-[30px]; /* Light mode footer background and text color */
}

.dark .footer {
  @apply bg-DHeader text-DTHeader; /* Dark mode footer background and text color */
}

.htext {
  @apply lg:text-[36px] md:text-[30px] text-[24px] text-Header;
}
.dark .htext {
  @apply text-DHeader; /* Dark mode header text color */
}

.btext {
  @apply lg:text-[22px] md:text-[20px] text-[18px] text-Header;
}
.dark .btext {
  @apply text-Text; /* Dark mode header text color */
}

.ytext {
  @apply text-[50px] font-semibold text-Text;
}
.dark .ytext {
  @apply text-Text; /* Dark mode header text color */
}

.ptext {
  @apply text-DHeader w-auto md:w-auto lg:w-auto py-[30px] px-5 rounded-[20px] bg-Header;
}
.dark .ptext {
  @apply text-Header bg-DHeader; /* Dark mode header text color */
}

.pptext {
  @apply text-[20px] leading-[18px] font-bold text-white;
}
.dark .pptext {
  @apply text-Header bg-DHeader; /* Dark mode header text color */
}

.hr {
  @apply border-t-2 border-THeader w-full;
}
.dark .hr {
  @apply border-Header;
}

.ricon {
  @apply animate-bounce focus:animate-none hover:animate-none inline-flex text-3xl;
}

.btn {
  @apply animate-bounce focus:animate-none hover:animate-none inline-flex text-sm font-medium bg-Header mt-3 px-4 py-2 rounded-lg tracking-wide text-DHeader;
}
.dark .btn {
  @apply bg-DHeader text-Header;
}

.fhtext {
  @apply lg:text-[36px] md:text-[30px] text-[24px] text-DHeader;
}
.dark .fhtext {
  @apply text-Header;
}

.tool-icon {
  position: absolute;
  width: 100px;
  opacity: 0.8;
  animation: fallIcon 8s linear infinite;
}

.tool-icon:nth-child(1) {
  left: 10%;
  animation-duration: 5s;
}
.tool-icon:nth-child(2) {
  left: 20%;
  animation-duration: 6s;
}
.tool-icon:nth-child(3) {
  left: 30%;
  animation-duration: 7s;
}
.tool-icon:nth-child(4) {
  left: 40%;
  animation-duration: 8s;
}
.tool-icon:nth-child(5) {
  left: 50%;
  animation-duration: 9s;
}
.tool-icon:nth-child(6) {
  left: 60%;
  animation-duration: 10s;
}
.tool-icon:nth-child(7) {
  left: 70%;
  animation-duration: 11s;
}

/* Keyframes for falling animation */
@keyframes fallIcon {
  0% {
    transform: translateY(-100px); /* Start above the screen */
    opacity: 1;
  }
  100% {
    transform: translateY(100vh); /* Fall to the bottom of the screen */
    opacity: 0.5; /* Fades out slightly */
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-gradient {
  background-size: 200% 200%;
  animation: gradient-move 5s ease infinite;
}

.animated-border {
  background-size: 200% 200%;
  animation: gradient-move 5s ease infinite;
  padding: 2px;
  border-radius: 0.5rem;
}
